@media screen and (min-width: 480px) {
  main {
    .date {
      display: none;
    }
  }
}

@media screen and (min-width: 540px) {
  main {
    .container__input {
      .content__input {
        width: 31rem;
      }
    }
  }
}

@media screen and (min-width: 930px) {
  main {
    min-height: calc(100vh - 4.063rem);
    display: flex;
    align-items: center;
    flex-direction: column;

    .container__main {
      width: 860px;
      background: #ffffff10;
      backdrop-filter: blur(10px);
      border-radius: 20px;
      border: 2px solid #ffffff30;

      .container__input {
        padding-top: 1.5rem;

        .content__input {
          width: 45rem;
        }

        .btn__input {
          width: 3.125rem;
          height: 2.375rem;
        }
      }
    }

    .container__footer {
      bottom: -27.7rem;
    }
  }
}
