main {
  min-height: calc(100vh - 3.625rem);

  .date {
    font-family: var(--font-date);
    font-size: 15px;
    font-weight: 500;
    color: var(--white1);
  }

  .container__main {
    margin-top: 2rem;

    .container__input {
      display: flex;
      justify-content: center;

      .content__input {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
      }

      .demo__checkBox {
        width: 1.563rem;
        height: 1.563rem;
        border: var(--border-white);
        border-radius: 50%;
        margin-right: 0.5rem;
      }

      .input__task {
        font-size: 18px;
        width: 70%;
        height: 2.25rem;
        border: var(--border-white);
        border-radius: 5px;
        padding-left: 0.4rem;
      }

      .btn__input {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 10%;
        height: 2rem;
        margin-left: 0.5rem;
        background-color: #c4c4c4;
        color: var(--white);
        border: var(--border-white);
        border-radius: 2px;
      }

      .btn__input:active {
        background-color: #686868;
      }
    }
  }

  .container__footer {
    position: relative;
    width: 100%;
    bottom: -29.7rem;
  }
}
