<main>
  <p class="date">{{ infoDate }}</p>
  <section class="container__input">
    <div class="demo__checkBox"></div>
    <input type="text" maxlength="33" id="input__task" class="input__task">
    <button class="btn__input btn__confirm" (click)="addTask()">
      <span class="material-symbols-outlined">done</span>
    </button>
    <button class="btn__input btn__refresh" (click)="reset()">
      <span class="material-symbols-outlined">refresh</span>
    </button>
  </section>
  <app-list></app-list>
  <app-customize></app-customize>
</main>
