main {
  height: 93vh;
}

.date {
  font-family: 'Paytone One', sans-serif;
  font-size: 15px;
  color: #F2F2F2;
}

.container__input {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 32px;
}

.demo__checkBox {
  width: 7%;
  height: 25px;
  border: 1px solid #fff;
  border-radius: 50%;
  margin-right: .5rem;
}

.input__task {
  font-size: 18px;
  width: 70%;
  height: 36px;
  border: 1px solid #F2F2F2;
  border-radius: 5px;
  padding-left: .4rem;
}

.btn__input {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10%;
  height: 32px;
  margin-left: .5rem;
  background-color: #c4c4c4;
  color: #fff;
  border: 1px solid #F2F2F2;
  border-radius: 2px;
}

.btn__input:active {
  background-color: #686868;
}

app-customize {
  position: absolute;
  top: 95%;
}
