.date {
  font-family: 'Paytone One', sans-serif;
  font-size: 15px;
}

.container__input {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 32px;
}

.demo__checkBox {
  width: 20px;
  height: 20px;
  border: 1px solid #000;
  border-radius: 50%;
  margin-right: .5rem;
}

.input__task {
  width: 180px;
  height: 32px;
  border: 1px solid #000;
  border-radius: 5px;
  padding-left: .4rem;
}

.btn__input {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  margin-left: .5rem;
  background-color: #c4c4c4;
  color: #fff;
  border: 1px solid #888888;
  border-radius: 2px;
}
