.container__list {
  margin-top: 2rem;
}

.list__task {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.task {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  height: 40px;
  margin-bottom: .5rem;
  padding: 0 .5rem;
  border-radius: 8px;
  background-color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 500;
}

.info-task {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 90%;
}

.check-task {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  margin-right: .5rem;
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 50%;
}

.check {
  font-size: 22px;
  color: #fff;
}

.check-active {
  background-color: #6d6d6d;
}

.text-task {
  font-size: 18px;
}

.text-active {
  color: #8b8b8b;
  text-decoration: line-through;
}

.remove-task {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 27px;
  height: 32px;
  padding: 0;
  border: none;
  background-color: transparent;
}

.remove {
  font-size: 28px;
}

.btn__completed {
  font-family: 'Roboto', sans-serif;
  display: none;
  flex-direction: row;
  align-items: center;
  background-color: transparent;
  border: none;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  margin: 1rem 0 1rem .5rem;
  padding: 0;
}

.btn__completed-active {
  display: flex;
}

.arrow__completed {
  transition: .2s;
  font-size: 24px;
  transform: rotate(90deg);
}

.arrow__completed-active {
  transition: .2s;
  transform: rotate(0deg);
}

.list__completed-active {
  display: none;
}
