<section class="container__list">
  <ul class="list__task" id="list__task">
    <app-new-task
      [taskList]="taskList"
      [task]='tasks.task'
      class="new-task"
      *ngFor="let tasks of taskList"
    >
    </app-new-task>
  </ul>

  <button class="btn__completed" id="btn__completed" (click)="viewCompleteds()">
    <span
      class="material-symbols-outlined arrow__completed"
      id="arrow__completed"
    >
      chevron_right
    </span>
    <p class="completed" id="completed">Concluídas</p>
  </button>

  <ul class="list__task list__completed" id="list__completed">
    <li class="task task-finish">
    </li>
  </ul>
</section>
