<section class="container__list">
  <ul class="list__task">
    <li class="task">
      <div class="info-task">
        <button class="check-task ">
          <span class="material-symbols-outlined check">done</span>
        </button>
        <p class="text-task">Fazer tarefas</p>
      </div>
      <button class="remove-task">
        <span class="material-symbols-outlined remove">delete_forever</span>
      </button>
    </li>
    <li class="task">
      <div class="info-task">
        <button class="check-task ">
          <span class="material-symbols-outlined check">done</span>
        </button>
        <p class="text-task"></p>
      </div>
      <button class="remove-task">
        <span class="material-symbols-outlined remove">delete_forever</span>
      </button>
    </li>
  </ul>
</section>
