.container__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.375rem;
  color: var(--white1);

  .title {
    font-family: var(--font-body);
    font-size: 28px;
    font-weight: bold;
  }

  .date {
    display: none;
    font-family: var(--font-date);
    font-size: 18px;
    font-weight: 500;
    color: var(--white1);
  }

  .hour {
    font-family: var(--font-date);
    font-size: 28px;
  }
}
