.container__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 22px;
  color: #F2F2F2;
}

.title {
  font-family: 'Paytone One', sans-serif;
  font-size: 28px;
}

.hour {
  font-family: 'Allerta Stencil', sans-serif;
  font-size: 28px
}
