.container__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 22px;
  color: var(--white1);
}

.title {
  font-family: var(--font-body);
  font-size: 28px;
  font-weight: bold;
}

.hour {
  font-family: var(--font-date);
  font-size: 28px;
}
