@media screen and (min-width: 400px) {
  .container__theme {
    .themes {
      width: calc(100% - 2rem);

      .option__theme {
        .btn__option {
          margin: 1rem .9rem 0 0;
        }
      }
    }
  }
}

@media screen and (min-width: 400px) {
  .container__theme {
    .themes {
      width: calc(100% - 2rem);

      .option__theme {
        .btn__option {
          margin: 1rem 1rem 0 0;
        }
      }
    }
  }
}
