@keyframes top {
  0% {
    top: 95%;
  }
  100% {
    top: calc(100% - 6.875rem);
  }
}

.container__theme {
  width: 100%;
  position: absolute;


  .title__theme {
    display: flex;
    align-items: center;
    font-family: var(--font-body);
    font-size: 18px;
    color: var(--white);
    background-color: transparent;
    border: none;
  }

  .arrow__theme {
    transition: 0.2s;
    transform: rotate(-90deg);
  }

  .arrow__theme-active {
    transition: 0.2s;
    transform: rotate(0deg);
  }

  .themes {
    display: none;
    position: inherit;

    height: 7.5rem;
    background-color: var(--white);
    border-radius: 18px 18px 0 0;
    padding: 1rem 1rem 0.5rem 1rem;

    .text__themes {
      font-family: var(--font-body);
      font-weight: 500;
      font-size: 18px;
      margin-bottom: 1rem;
    }

    .list__themes,
    .options__theme {
      display: flex;
    }

    .type__theme {
      .btn__theme {
        height: 1.875rem;
        border-radius: 15px;
        border: var(--borderBtn);
        font-size: 16px;
        text-align: center;
        color: var(--backColor-active);
        background-color: transparent;
        padding: 0.2rem 0.6rem;
        margin-right: 0.5rem;
      }

      .btn__theme-selected {
        background-color: var(--backColor-active);
        border: var(--borderBtn);
        color: var(--colorBtn);
      }
    }

    .option__theme {
      .btn__option {
        width: 1.625rem;
        height: 1.625rem;
        border-radius: 50%;
        margin: 1rem .8rem 0 0;
      }

      .btn__option-images {
        width: 1.625rem;
        height: 1.625rem;
        border: none;
        border-radius: 50%;
        margin: 1rem 1rem 0 0;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
      }
    }
  }

  .themes-active {
    display: initial;
  }
}

.container__theme-active {
  top: calc(100% - 6.875rem);
  animation: top 0.5s linear;
}
